<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <main>
        <h1 style="color: red">List of Schedules!</h1>

        <%- include('../partials/header') %>

       
            <% schedules.forEach(sched => { %>
                <p>
               <strong>UserID</strong>
                    <a href=" http://localhost:3000/users/<%= sched.user_id %>/schedules"><%= sched.user_id %></a><br>
                
                <strong>Username: </strong>
                <%= sched.username %> <br>
                <strong>Day: </strong>

                    <% let day %>
                    <% if(sched.day == 1) {%>
                         <%  day = 'Monday'; %>
                    <% } %>

                    <% if(sched.day == 2) {%>
                        <%  day = 'Tuesday'; %>
                    <% } %>

                    <% if(sched.day == 3) {%>
                        <%  day = 'Wednesday'; %>
                    <% } %>

                    <% if(sched.day == 4) {%>
                        <%  day = 'Thursday'; %>
                    <% } %>

                    <% if(sched.day == 5) {%>
                        <%  day = 'Friday'; %>
                    <% } %>

                    <% if(sched.day == 6) {%>
                        <%  day = 'Saturday'; %>
                    <% } %>

                    <% if(sched.day == 7) {%>
                        <%  day = 'Sunday'; %>
                    <% } %>

                    <%= day %>
                   
                    <br>  





                <strong>Start: </strong>
                    <%= sched.start_at %> <br>
                <strong>End: </strong>
                    <%= sched.end_at %> <br>
                </p>

                
            <% }) %>



    </main>

</body>
</html>