<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <!-- missing header-->
        <main>
            <h1 style="color: red">Schedules</h1>

            <%- include('../partials/header') %>

            
            <% for (let i = 0; i < getSched.length; i++) { %>
                <p>
                    <strong>User ID: </strong><%= getSched[i].user_id %><br>
                    <strong>Day: </strong><%= getSched[i].day %><br>
                    <strong>Start: </strong><%= getSched[i].start_at %><br>
                    <strong>End: </strong><%= getSched[i].end_at %><br>
                </p>
            
            <% } %>

        </main>
        <!-- missing footer-->
</body>
</html>